In [6]:
import os

import numpy as np  #  type: ignore
import matplotlib.pyplot as plt  #  type: ignore
import pandas as pd  #  type: ignore

from sklearn.metrics import mean_squared_error, mean_absolute_error
from statsmodels.tsa.stattools import acf, pacf  #  type: ignore
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf  #  type: ignore

In [ ]:


def load_data():
    df = pd.read_csv("../files/input/sutter.csv")
    df = df.set_index("date")
    return df

            yt_true
date
1946-01-01      890
1946-02-01      992
1946-03-01      979
1946-04-01      959
1946-05-01     1110
...             ...
1966-08-01     6905
1966-09-01     5504
1966-10-01     5457
1966-11-01     5198
1966-12-01     4890

[252 rows x 1 columns]